root = false

#### .NET Coding Conventions ####
[*.{cs,vb}]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = silent

# Field preferences
dotnet_style_readonly_field = true:silent

# CA1816: Dispose メソッドは、SuppressFinalize を呼び出す必要があります
dotnet_diagnostic.CA1816.severity = silent

# CA1825: 長さ 0 の配列は割り当て不可
dotnet_diagnostic.CA1825.severity = silent

# IDE0300: コレクションの初期化を簡略化します
dotnet_style_prefer_collection_expression = never

# IDE0017: オブジェクトの初期化を簡略化します
dotnet_style_object_initializer = false
